<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="container my-5">
		<form th:action="@{/app/dashboard/resource/save}" th:object="${resourceCreateDto}" method="post" class="was-validated">
			<h3 th:text="#{msg.class.resourceType.label.new} + ' ' + #{'msg.class.resourceType.value.' + *{resourceType}}">XXX</h3>
			<input type="hidden" th:field="*{scenarioId}" /> 
			<input type="hidden" th:field="*{resourceType}" /> 
			
			<!-- ----- -->
			<!-- Name. -->
			<!-- ----- -->
			
			<label class="col-form-label" th:text="#{msg.html.resource.name}"></label>
			<input type="text" 
					class="form-control"
					th:field="*{name}" 
					required
					oninput="this.setCustomValidity('')">
			<p th:if="${#fields.hasErrors('name')}"
					th:errorclass="error" 
					th:errors="*{name}"></p>
			
			<!-- ----------------- -->
			<!-- Start year month. -->
			<!-- ----------------- -->
			
			<label class="col-form-label" th:text="#{msg.html.dashboard.resourceParamDateValueEdit.yearMonth.label}"></label>
			<input type="text" 
					class="form-control"
					th:field="*{startYearMonth}" 
					size="7" 
					maxLength="7"
					required
					pattern="^[0-9]{1,2}.[0-9]{4}"
					th:placeholder="#{msg.html.global.yearMonth.placeholder}"
					oninput="this.setCustomValidity('')" 
					th:title="#{msg.validation.monthYear}">
			<p th:if="${#fields.hasErrors('startYearMonth')}"
					th:errorclass="error" 
					th:errors="*{startYearMonth}"></p>
			
			<!-- ----------------- -->
			<!-- TODO Parent. -->
			<!-- ----------------- -->
			
			<label th:if="*{not ListOfAllowedParentResources.empty}" th:text="#{'msg.html.resource.parent.name'}">Parent</label>
			<select th:if="*{not ListOfAllowedParentResources.empty}" class="form-control" th:field="*{parentId}" required>
				<option hidden="hidden" value=""></option>
				<option th:each="opt : *{ListOfAllowedParentResources}" th:value="${opt.id}" th:text="${opt.name}" th:selected="${opt.id}==*{parentId}"></option>
			</select>
			
			<!-- ---------------- -->
			<!-- Resource params. -->
			<!-- ---------------- -->
			
			<div th:each="resourceParamDto, paramStat : *{resourceParamDtos}">
				<input type="hidden" th:field="*{resourceParamDtos[__${paramStat.index}__].name}"/>
				<input type="hidden" th:field="*{resourceParamDtos[__${paramStat.index}__].resourceParamType}"/>
				<label th:text="#{'msg.html.resourceParams.name.' + ${resourceParamDto.name} + '.' + *{resourceType}}"></label> 
				<input type="checkbox" class="visually-hidden" th:field="*{resourceParamDtos[__${paramStat.index}__].userAbleToCreateNewDateValue}" th:checked="*{resourceParamDtos[__${paramStat.index}__].userAbleToCreateNewDateValue}" />
				
				<input type="text" 
						class="form-control"
						size="7"
						required
						th:pattern="*{resourceParamDtos[__${paramStat.index}__].regex}"
						th:field="*{resourceParamDtos[__${paramStat.index}__].value}" 
						oninput="this.setCustomValidity('')"
						th:title="#{msg.validation.notEmpty}">
				<p th:if="${#fields.hasErrors('resourceParamDtos[__${paramStat.index}__].value')}"
					th:errorclass="error" 
					th:errors="*{resourceParamDtos[__${paramStat.index}__].value}"></p>
			</div>
			
			<button id="saveBtn" class="btn btn-primary" type="submit">Save</button>
			<a class="btn btn-link" role="button" onclick="window.location.replace('/app/dashboard')">Cancel</a>
		</form>
	</div>
</body>
</html>