<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/mainLayout}">

<head>
<meta charset="ISO-8859-1">
</head>

<body>
	<div layout:fragment="content" class="container">

		<div class="container py-4"></div>

		<div class="p-5 mb-4 bg-body-tertiary rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold"
					th:text="#{msg.html.index.container1.title}"></h1>
				<p class="col-md-4 fs-4" th:text="#{msg.html.index.container1.p1}"></p>
			</div>
		</div>

		<div class="row align-items-md-stretch">
			<div class="col-md-6">
				<div class="h-100 p-5 text-bg-dark rounded-3">
					<h2 th:text="#{msg.html.index.container2.title}"></h2>
					<p th:text="#{msg.html.index.container2.p1}"></p>
					<p th:text="#{msg.html.index.container2.p2}"></p>
					<p th:text="#{msg.html.index.container2.p3}"></p>
					<p th:text="#{msg.html.index.container2.p4}"></p>
					<button class="btn btn-outline-light" type="button"
						th:text="#{msg.html.index.container2.btn.more}"></button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="h-100 p-5 bg-body-tertiary border rounded-3">
					<h2 th:text="#{msg.html.index.container3.title}"></h2>
					<p th:text="#{msg.html.index.container3.p1}"></p>

					<form action="#" th:action="@{/public/saveQuickSnapshot}"
						th:object="${quickSnapshotDto}" method="post"
						class="was-validated">

						<div class="mb-3 row">
							<div class="col-sm-4">
								<label class="col-form-label"
									th:text="#{msg.html.index.birthMonthYear.label}"></label>
							</div>
							<div class="col-sm-8">
								<input type="text" class="form-control"
									th:field="*{birthMonthYear}"
									th:placeholder="#{msg.html.index.householdSavings.placeholder}"
									required th:oninvalid="#{msg.validation.notEmpty.javascript}"
									oninput="this.setCustomValidity('')"
									pattern="^[0-9]{1,2}.[0-9]{4}" maxLength="7"
									th:title="#{msg.validation.monthYear}">
								<p th:if="${#fields.hasErrors('birthMonthYear')}"
									th:errorclass="error" th:errors="*{birthMonthYear}"></p>
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col-sm-4">
								<label class="col-form-label"> <span class="pe-1"
									th:text="#{msg.html.index.householdSavings.label}"></span> <span
									data-bs-toggle="tooltip" data-bs-placement="top"
									th:attr="data-bs-original-title=#{msg.html.index.householdSavings.tooltip}">
										<i class="bi-question-circle"></i>
								</span>
								</label>
							</div>
							<div class="col-sm-8">
								<input type="text" class="form-control"
									th:field="*{householdSavings}" required
									th:oninvalid="#{msg.validation.notEmpty.javascript}"
									oninput="this.setCustomValidity('')" pattern="^-?[0-9]+$"
									th:title="#{msg.validation.number}">
								<p th:if="${#fields.hasErrors('householdSavings')}"
									th:errorclass="error" th:errors="*{householdSavings}"></p>
							</div>
						</div>

						<input type="submit" class="btn btn-primary"
							th:value="#{msg.button.go}">

					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>