<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/mainLayout}">

<head>
	<meta charset="ISO-8859-1">
</head>

<body>
	<div layout:fragment="content" class="container">

		<div class="container py-4">
		</div>

		<div class="p-5 mb-4 bg-body-tertiary rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Fitness for your finances</h1>
				<p class="col-md-4 fs-4">Want to take control of your families' future financial wellbeing and have fun
					doing it?</p>
			</div>
		</div>

		<div class="row align-items-md-stretch">
			<div class="col-md-6">
				<div class="h-100 p-5 text-bg-dark rounded-3">
					<h2>Why ImPwrMe?</h2>
					<p>Have you heard the phrase, 'If you look after the pennies, the pounds will look after themseves'?
						Well, we take the opposite approach - if you look after the big picture you won't need to worry
						about the day-to-day.</p>
					<p>Want to know if you can buy a house? Or pay off your mortgage? Or retire early?</p>
					<p>Perhaps you're worrying about money? Do you dream of paying off credit cards or are concerned
						about interest rates?</p>
					<p>We can help put your mind at rest and free you up to follow your life goals.</p>
					<button class="btn btn-outline-light" type="button">Tell me more...</button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="h-100 p-5 bg-body-tertiary border rounded-3">
					<h2>Why not get a 5-minute snapshot?...</h2>
					<p>Just fill in these few fields and we'll show you how your future is shaping up. Don't worry, it's
						completely anonymous.</p>

					<form>

						<div class="mb-3 row">
							<div class="col-sm-4">
								<label class="col-form-label" th:text="#{msg.html.index.birthMonthYear.label}"></label>
							</div>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:placeholder="#{msg.html.index.householdSavings.placeholder}">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col-sm-4">
								<label class="col-form-label">
									<span class="pe-1" th:text="#{msg.html.index.householdSavings.label}"></span>
									<span data-bs-toggle="tooltip" data-bs-placement="top"
										th:attr="data-bs-original-title=#{msg.html.index.householdSavings.tooltip}">
										<i class="bi-question-circle"></i>
									</span>
								</label>
							</div>
							<div class="col-sm-8">
								<input type="text" class="form-control">
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
</body>

</html>