<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script type="text/javascript" th:inline="javascript"
	th:fragment="ajaxdashboardLayoutJS">
	var baseUrl = window.location.origin + window.location.pathname + '/';

	function showResourceElements(resourceId) {
		var url = baseUrl + 'showResourceElements/' + resourceId;
		$.ajax({
			url : url,
			type : "GET",
			success : function(response) {
				$("#ajaxdashboardResourceElements").html(response);
			},
			error : function(jqXHR) {
				alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
			}
		});
	}
</script>

</head>
<body>

</body>
</html>