<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="dashboardResources" th:fragment="ajaxdashboardResources">

		<script type="text/javascript" th:inline="javascript">
			var baseUrl = window.location.origin + window.location.pathname
					+ '/';

			function showChart() {
				$("#dashboardChart").load(
						baseUrl + 'showChart',
						function(responseTxt, statusTxt, xhr) {
							if (statusTxt == "error")
								alert("Error: " + xhr.status + ": "
										+ xhr.statusText);
						});
			}

			function showResources() {
				$("#dashboardResources")
						.load(baseUrl + 'showResources',
								function(responseTxt, statusTxt, xhr) {
									if (statusTxt == "error")
										alert("Error: " + xhr.status + ": "
												+ xhr.statusText);
								});
			}

			function saveResource() {

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var data = $("#formResource").serialize();

				return $
						.ajax({
							type : 'post',
							url : baseUrl + 'saveResource',
							data : data,
							beforeSend : function(xhr) {
								xhr.setRequestHeader(header, token);
							},
							success : function(text) {
							},
							error : function(jqXHR) {
								alert('Error: ' + jqXHR.status + 'Message: '
										+ jqXHR.responseText);
							}
						});
			}

			function saveResourceAndRefresh() {

				saveResource().done(function(data) {
					showChart();
					showResources();
				});
			}
		</script>

		RESOURCES Name =
		<p th:text="*{resource.name}"></p>

		<form id="formResource" name="formResource" action="#"
			th:action="@{/app/ajaxdashboard/saveResource}"
			th:object="${resource}" method="post">

			<label class="col-form-label">Name</label> <input id="name"
				name="name" type="text" class="form-control" th:field="*{name}">

			<!-- 			<input type="hidden" name="${_csrf.parameterName}" -->
			<!-- 				value="${_csrf.token}" /> -->

			<button type="button" class="btn btn-success" id="save"
				onclick="saveResourceAndRefresh()">Save</button>

		</form>

	</div>
</body>
</html>