<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="ajaxdashboardResourceNavBar"
		th:fragment="ajaxdashboardResourceNavBar">

		<script type="text/javascript" th:inline="javascript">
			
			function addEventListenersToResourcesTab() {

				const resourcesTabs = Array.from(document.querySelectorAll('#resourcesTabs>ul>li>a'));

				resourcesTabs.forEach(function(currentTab) {
					if (currentTab.className.includes("dropdown")) {
						var ulElement = currentTab.nextElementSibling;
						var liElements = ulElement.querySelectorAll('li');
						liElements.forEach(function(li) {
							li.addEventListener("click", function() {
								setAllResourceTabsToInactive();
								li.parentElement.parentElement.getElementsByTagName("a")[0].classList.add("active");
							});

						})
					} else {
						currentTab.addEventListener("click", function() {
							setAllResourceTabsToInactive();
							this.classList.add("active");
						});
					}
				});
			}

			function setAllResourceTabsToInactive() {
				const resourcesTabs = Array.from(document.querySelectorAll('#resourcesTabs>ul>li>a'));

				resourcesTabs.forEach(function(currentTab) {
					currentTab.classList.remove("active");
				});
			}

			function setActiveResourceTab() {
				var activeTabLabel = /*[[#{${'msg.html.ajaxdashboard.' + resourceDropdownDto.activeResourceNavLabel}}]]*/'noValue';
				const resourcesTabs = Array.from(document.querySelectorAll('#resourcesTabs>ul>li>a'));
				resourcesTabs.forEach(function(currentTab) {
					if (currentTab.textContent === activeTabLabel) {
						currentTab.classList.add("active");
					}
				});
			}
		</script>

		<div id="resourcesTabs">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link" aria-current="page"
					href="#"
					th:text="#{${'msg.html.ajaxdashboard.' + resourceDropdownDto.scenarioTabLabel}}"
					th:attr="onclick=|showResource('${resourceDropdownDto.scenarioResourceId}')|">XXX</a></li>

				<li
					th:each="resourceTab, resourceTabStat : ${resourceDropdownDto.resourceTabs}"
					class="nav-item dropdown"><a class="nav-link dropdown-toggle"
					data-bs-toggle="dropdown" href="#" role="button"
					aria-expanded="false"
					th:text="#{${'msg.html.ajaxdashboard.' + resourceTab.resourceTabLabel}}">XXX</a>

					<ul class="dropdown-menu">
						<li
							th:each="resourceTabItem, resourceTabItemStat : ${resourceTab.resourceTabItems}"><a
							class="dropdown-item" href="#"
							th:text="${resourceTabItem.resourceItemLabel}"
							th:attr="onclick=|showResource('${resourceTabItem.resourceId}')|">XXX</a></li>
					</ul></li>
			</ul>
		</div>

		<script th:inline="javascript">
			addEventListenersToResourcesTab();
			setActiveResourceTab();
		</script>

	</div>
</body>
</html>