<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="ajaxdashboardResourceDisplay" class="bg-white"
		th:fragment="ajaxdashboardResourceDisplay">

		<script type="text/javascript" th:inline="javascript">
			const modalRpdvHeader = /*[[#{msg.html.ajaxdashboard.resourceParamDateValueEdit.modal.header}]]*/'novalue';

			function resourceParamDateValueEdit(paramName, id, yearMonth, value, userAbleToChangeDate, resourceParamId, resourceParamType) {
				if (id === null || id === 'null') {
					id = "";
				}
				document.getElementById('rpdvEditDialogError').style.display = "none";
				document.getElementById('paramName').innerText = modalRpdvHeader + ' ' + paramName + '?';
				if (userAbleToChangeDate !== 'true') {
					document.getElementById('yearMonth').readOnly = true;
				}
				$(".modal-body #id").val(id);
				$(".modal-body #yearMonth").val(yearMonth);
				$(".modal-body #value").val(value);
				$(".modal-body #resourceParamId").val(resourceParamId);
				$(".modal-body #resourceParamType").val(resourceParamType);
				$('#rpdvEditDialog').modal('show');
			}

			function saveResourceParamDateValue() {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var data = $("#formRpdvEditDialog").serialize();

				return $.ajax({
					type : 'post',
					url : baseUrl + 'saveResourceParamDateValue',
					data : data,
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(response) {
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}
		</script>

		<!-------------------------------->
		<!-- Modal rpdvEditDialog START	-->
		<!-------------------------------->

		<div id="rpdvEditDialog" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-sm"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5
							th:text="#{msg.html.ajaxdashboard.resourceParamDateValueEdit.modal.header}"
							id="paramName">XXX</h5>
					</div>
					<form id="formRpdvEditDialog"
						th:object="${resourceParamDateValueDto}"
						th:action="@{/app/ajaxdashboard/saveResourceParamDateValue}"
						method="post" class="was-validated">
						<div class="modal-body">
							<div class="container">

								<input type="text" name="id" id="id" value="" /> <input
									type="text" name="resourceParamId" id="resourceParamId"
									value="" /> <input type="text" name="resourceParamType"
									id="resourceParamType" value="" />

								<div id="rpdvEditDialogError" class="alert alert-danger"></div>

								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.ajaxdashboard.resourceParamDateValueEdit.yearMonth.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="yearMonth" type="text" class="form-control"
											th:field="*{yearMonth}" size="7"
											th:placeholder="#{msg.html.global.yearMonth.placeholder}"
											required th:oninvalid="#{msg.validation.monthYear}"
											oninput="this.setCustomValidity('')"
											pattern="^[0-9]{1,2}.[0-9]{4}" maxLength="7"
											th:title="#{msg.validation.monthYear}">
										<p th:if="${#fields.hasErrors('yearMonth')}"
											th:errorclass="error" th:errors="*{yearMonth}"></p>
									</div>
								</div>
								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.ajaxdashboard.resourceParamDateValueEdit.value.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="value" name="value" type="text"
											class="form-control" th:field="*{value}" size="7" required
											th:oninvalid="#{msg.validation.notEmpty.javascript}"
											oninput="this.setCustomValidity('')"
											th:title="#{msg.validation.notEmpty}">
										<p th:if="${#fields.hasErrors('value')}" th:errorclass="error"
											th:errors="*{value}"></p>
									</div>
								</div>
								<!-- 								<button class="btn btn-primary" type="submit">SAVE</button> -->
							</div>
							<div class="modal-footer">
								<a class="btn btn-link" role="button" data-bs-dismiss="modal">Cancel</a>
								<button class="btn btn-primary" type="submit">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-------------------------------->
		<!-- Modal rpdvEditDialog END	-->
		<!-------------------------------->

		<div class="row">
			<div class="col mx-2 mt-2">
				<h5 th:text="${resourceDto.name}">XXX</h5>
			</div>
		</div>

		<div class="row"
			th:unless="${resourceParamTableDto.resourceParamDtos.empty}">
			<div class="col-auto mx-2">

				<table id="parametersTable"
					class="table table-primary caption-top p-1 rounded-3 overflow-hidden">
					<caption
						th:text="#{msg.html.ajaxdashboard.resourceParamTable.Parameters}">XXX</caption>
					<thead>
						<tr>
							<th
								th:text="#{msg.html.ajaxdashboard.resourceParamTable.Setting}">XXX</th>
							<th
								th:each="dateHeader, dateHeaderStat : ${resourceParamTableDto.dates}"
								th:text="${dateHeader}">XXX</th>
							<th th:text="#{msg.html.ajaxdashboard.resourceParamTable.WhatIf}">XXX</th>
						</tr>
					</thead>
					<tbody>
						<tr
							th:each="resourceParamDto, resourceParamDtoStat : ${resourceParamTableDto.resourceParamDtos}">
							<td th:text="${resourceParamDto.name}">XXX</td>
							<td
								th:each="rpdvDto, rpdvDtoStat : ${resourceParamDto.resourceParamDateValueDtos}"
								th:id="${rpdvDto.id}" th:text="${rpdvDto.value}"
								th:attr="onclick=|resourceParamDateValueEdit('${resourceParamDto.name}','${rpdvDto.id}', '${rpdvDto.yearMonth}', '${rpdvDto.value}', '${rpdvDto.userAbleToChangeDate}', '${resourceParamDto.id}', '${resourceParamDto.resourceParamType}');|"
								style="cursor: pointer;"></td>
							<td th:unless="${resourceParamDto.userAbleToCreateNewDateValue}"></td>
							<td th:if="${resourceParamDto.userAbleToCreateNewDateValue}"
								th:text="..."
								th:attr="onclick=|resourceParamDateValueEdit('${resourceParamDto.name}', null, null, null, 'true', '${resourceParamDto.id}', '${resourceParamDto.resourceParamType}');|"
								style="cursor: pointer;"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
			document.querySelector('#formRpdvEditDialog').addEventListener('submit', function(e) {
				e.preventDefault();
			});

			$("#formRpdvEditDialog").submit(function(event) {
				var resourceId = /*[[${resourceDto.id}]]*/'novalue';
				saveResourceParamDateValue().done(function(response) {
					if (response != "SUCCESS") {
						$("div.rpdvEditDialogError").show();
						document.getElementById('rpdvEditDialogError').style.display = "block";
						document.getElementById('rpdvEditDialogError').innerText = response;
					} else {
						$('#rpdvEditDialog').modal('hide');
						showResource(resourceId);
					}
				});
			});
		</script>

	</div>
</body>


</html>