<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="cashflows" th:fragment="cashflows">

		<script type="text/javascript" th:inline="javascript">
			const modalCfdrvHeader = /*[[#{msg.html.dashboard.cashflowDateRangeValueEdit.modal.header}]]*/'novalue';
			const modalCashflowCreateHeader = /*[[#{msg.html.global.label.create}]]*/'novalue';
			const modalCashflowEditHeader = /*[[#{msg.html.global.label.edit}]]*/'novalue';
			var resourceDto;
			var cashflowDtos;

			function showCashflows(resourceId) {
				var url = baseUrl + 'cashflow/showCashflows/' + resourceId;
				$.ajax({
					url : url,
					type : "GET",
					success : function(response) {
						$("#cashflows").html(response);
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}

			function cashflowCreate(select) {
				var category = select.value;
				var categoryMessage = select.selectedOptions[0].text;

				document.getElementById('cashflowCreateDialogError').style.display = "none";
				document.getElementById('cashflowCreateDialogHeader').innerText = modalCashflowCreateHeader + ' ' + categoryMessage;

				$("#cashflowCreateDialog #resourceId").val(resourceDto.id);
				$("#cashflowCreateDialog #category").val(category);
				$("#cashflowCreateDialog #yearMonthStart").val(resourceDto.startYearMonth);

				$('#cashflowCreateDialog').modal('show');
				setTimeout(function() {
					$('form[id="formCashflowCreateDialog"] :input:enabled:visible:not([readonly]):first').select();
				}, 500);
			}

			function cashflowEdit(cashflowIndex) {

				var cashflow = cashflowDtos[cashflowIndex];
				document.getElementById('cashflowEditDialogError').style.display = "none";
				document.getElementById('cashflowEditDialogHeader').innerText = modalCashflowEditHeader + ' ' + cashflow.categoryMessage;
				$("#cashflowEditDialog #id").val(cashflow.id);
				$("#cashflowEditDialog #category").val(cashflow.category);
				$("#cashflowEditDialog #detail").val(cashflow.detail);
				$("#cashflowEditDialog #cpiAffected").prop("checked", cashflow.cpiAffected);
				$("#cashflowEditDialog #frequency").val(cashflow.frequency);

				$('#cashflowEditDialog').modal('show');
				setTimeout(function() {
					$('form[id="formCashflowEditDialog"] :input:enabled:visible:not([readonly]):first').select();
				}, 500);
			}

			function cashflowDateRangeValueEdit(cashflowIndex, cfdrvIndex) {

				var cashflow = cashflowDtos[cashflowIndex];
				document.getElementById('cfdrvEditDialogError').style.display = "none";
				document.getElementById('cfdrvCashflowCategory').innerText = modalCfdrvHeader + ' ' + cashflow.categoryMessage + '?';
				$("#cfdrvEditDialog #cashflowId").val(cashflow.id);

				var cfdrv = null;
				if (null !== cfdrvIndex) {
					cfdrv = cashflowDtos[cashflowIndex].cashflowDateRangeValueDtos[cfdrvIndex];
					$("#cfdrvEditDialog #id").val(cfdrv.id);
					$("#cfdrvEditDialog #yearMonthStart").val(cfdrv.yearMonthStart);
					$("#cfdrvEditDialog #yearMonthEnd").val(cfdrv.yearMonthEnd);
					$("#cfdrvEditDialog #value").val(cfdrv.value);
				} else {
					$("#cfdrvEditDialog #id").val(null);
					$("#cfdrvEditDialog #yearMonthStart").val(null);
					$("#cfdrvEditDialog #yearMonthEnd").val(null);
					$("#cfdrvEditDialog #value").val(null);
				}

				if (null === cfdrv || resourceDto.startYearMonth !== cfdrv.yearMonthStart) {
					document.getElementById('yearMonthStart').readOnly = false;
					document.getElementById('cfdrvDeleteBtn').style.visibility = "visible";
				} else {
					document.getElementById('yearMonthStart').readOnly = true;
					document.getElementById('cfdrvDeleteBtn').style.visibility = "hidden";
				}

				$('#cfdrvEditDialog').modal('show');
				setTimeout(function() {
					$('form[id="formCfdrvEditDialog"] :input:enabled:visible:not([readonly]):first').select();
				}, 500);
			}

			function postCashflowDateRangeValue(submittingBtnId) {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var data = $("#formCfdrvEditDialog").serialize();
				var controllerMethod = "";
				if (submittingBtnId == "cfdrvSaveBtn") {
					controllerMethod = "saveCashflowDateRangeValue";
				} else if (submittingBtnId == "cfdrvDeleteBtn") {
					controllerMethod = "deleteCashflowDateRangeValue";
				} else {
					alert("Unknown submitting button : " + submittingBtnId);
					return "ERROR";
				}

				return $.ajax({
					type : 'post',
					url : baseUrl + 'cashflow/' + controllerMethod,
					data : data,
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(response) {
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}

			function postCashflowEdit(submittingBtnId) {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var data = $("#formCashflowEditDialog").serialize();
				var controllerMethod = "";
				if (submittingBtnId == "cashflowEditSaveBtn") {
					controllerMethod = "saveCashflowEdit";
				} else if (submittingBtnId == "cashflowEditDeleteBtn") {
					controllerMethod = "deleteCashflow";
				} else {
					alert("Unknown submitting button : " + submittingBtnId);
					return "ERROR";
				}

				return $.ajax({
					type : 'post',
					url : baseUrl + 'cashflow/' + controllerMethod,
					data : data,
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(response) {
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}

			function postCashflowCreate() {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var data = $("#formCashflowCreateDialog").serialize();
				var controllerMethod = "saveCashflowCreate";

				return $.ajax({
					type : 'post',
					url : baseUrl + 'cashflow/' + controllerMethod,
					data : data,
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(response) {
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}
		</script>

		<!---------------------------------------->
		<!-- Modal cashflowCreateDialog START	-->
		<!---------------------------------------->

		<div id="cashflowCreateDialog" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-sm"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="cashflowCreateDialogHeader">XXX</h5>
					</div>
					<form id="formCashflowCreateDialog"
						th:object="${cashflowCreateDto}" class="was-validated">
						<div class="modal-body">
							<div class="container">

								<input type="hidden" name="resourceId" id="resourceId" value="" />
								<input type="hidden" name="category" id="category" value="" />

								<div id="cashflowCreateDialogError" class="alert alert-danger"></div>

								<div class="mb-1 row">
									<div class="col-sm-5">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowTable.th.detail}"></label>
									</div>
									<div class="col-sm-7">
										<input id="detail" type="text" class="form-control"
											th:field="*{detail}" oninput="this.setCustomValidity('')"
											th:title="#{msg.html.dashboard.cashflowTable.th.detail}">
										<p th:if="${#fields.hasErrors('detail')}"
											th:errorclass="error" th:errors="*{detail}"></p>
									</div>
								</div>

								<div class="mb-1 row">
									<div class="col-sm-5">
										<label class="checkbox-inline"
											th:text="#{msg.html.dashboard.cashflowTable.th.cpi}"></label>
									</div>
									<div class="col-sm-7">
										<input class="form-check-input d-flex" type="checkbox"
											id="cpiAffected" th:field="*{cpiAffected}"
											oninput="this.setCustomValidity('')"
											th:title="#{msg.html.dashboard.cashflowTable.th.cpi}"
											th:checked="${cpiAffected}">
										<p th:if="${#fields.hasErrors('cpiAffected')}"
											th:errorclass="error" th:errors="*{cpiAffected}"></p>
									</div>
								</div>

								<div class="mb-1 row">
									<div class="col-sm-5">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowTable.th.frequency}"></label>
									</div>
									<div class="col-sm-7">
										<select class="form-control" id="frequency" name="frequency">
											<option th:each="opt : *{listOfFrequencies}"
												th:value="${opt}"
												th:text="#{'msg.class.cashflowFrequency.' + ${opt}}"
												th:selected="${opt}==*{frequency}"></option>
										</select>
									</div>
								</div>



								<div class="mb-1 row">
									<div class="col-sm-5">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowDateRangeValueEdit.yearMonthStart.label}"></label>
									</div>
									<div class="col-sm-7">
										<input id="yearMonthStart" type="text" class="form-control"
											th:field="*{yearMonthStart}" size="7"
											th:placeholder="#{msg.html.global.yearMonth.placeholder}"
											oninput="this.setCustomValidity('')" maxLength="7"
											th:title="#{msg.validation.monthYear}">
										<p th:if="${#fields.hasErrors('yearMonthStart')}"
											th:errorclass="error" th:errors="*{yearMonthStart}"></p>
									</div>
								</div>
								<div class="mb-1 row">
									<div class="col-sm-5">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowDateRangeValueEdit.yearMonthEnd.label}"></label>
									</div>
									<div class="col-sm-7">
										<input id="yearMonthEnd" type="text" class="form-control"
											th:field="*{yearMonthEnd}" size="7"
											pattern="^[0-9]{1,2}.[0-9]{4}"
											th:placeholder="#{msg.html.global.yearMonth.placeholder}"
											oninput="this.setCustomValidity('')" maxLength="7"
											th:title="#{msg.validation.monthYear}">
										<p th:if="${#fields.hasErrors('yearMonthEnd')}"
											th:errorclass="error" th:errors="*{yearMonthEnd}"></p>
									</div>
								</div>
								<div class="mb-1 row">
									<div class="col-sm-5">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowDateRangeValueEdit.value.label}"></label>
									</div>
									<div class="col-sm-7">
										<input id="value" type="text" class="form-control"
											th:field="*{value}" size="7" required
											pattern="^-?[0-9]*[1-9][0-9]*$"
											oninput="this.setCustomValidity('')"
											th:title="#{msg.validation.notEmpty}">
										<p th:if="${#fields.hasErrors('value')}" th:errorclass="error"
											th:errors="*{value}"></p>
									</div>
								</div>




							</div>
							<div class="modal-footer">
								<button id="cashflowCreateSaveBtn" class="btn btn-primary"
									type="submit">Save</button>
								<a class="btn btn-link" role="button" data-bs-dismiss="modal">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!------------------------------------>
		<!-- Modal cashflowCreateDialog END -->
		<!------------------------------------>

		<!------------------------------------>
		<!-- Modal cashflowEditDialog START	-->
		<!------------------------------------>

		<div id="cashflowEditDialog" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-sm"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="cashflowEditDialogHeader">XXX</h5>
					</div>
					<form id="formCashflowEditDialog" th:object="${cashflowDto}"
						class="was-validated">
						<div class="modal-body">
							<div class="container">

								<input type="hidden" name="id" id="id" value="" /> <input
									type="hidden" name="category" id="category" value="" />

								<div id="cashflowEditDialogError" class="alert alert-danger"></div>

								<div class="mb-1 row">
									<div class="col-sm-4">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowTable.th.detail}"></label>
									</div>
									<div class="col-sm-8">
										<input id="detail" type="text" class="form-control"
											th:field="*{detail}" oninput="this.setCustomValidity('')"
											th:title="#{msg.html.dashboard.cashflowTable.th.detail}">
										<p th:if="${#fields.hasErrors('detail')}"
											th:errorclass="error" th:errors="*{detail}"></p>
									</div>
								</div>

								<div class="mb-1 row">
									<div class="col-sm-4">
										<label class="checkbox-inline"
											th:text="#{msg.html.dashboard.cashflowTable.th.cpi}"></label>
									</div>
									<div class="col-sm-8">
										<input class="form-check-input d-flex" type="checkbox"
											id="cpiAffected" th:field="*{cpiAffected}"
											oninput="this.setCustomValidity('')"
											th:title="#{msg.html.dashboard.cashflowTable.th.cpi}"
											th:checked="${cpiAffected}">
										<p th:if="${#fields.hasErrors('cpiAffected')}"
											th:errorclass="error" th:errors="*{cpiAffected}"></p>
									</div>
								</div>

								<div class="mb-1 row">
									<div class="col-sm-4">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowTable.th.frequency}"></label>
									</div>
									<div class="col-sm-8">
										<select class="form-control" id="frequency" name="frequency">
											<option th:each="opt : *{listOfFrequencies}"
												th:value="${opt}"
												th:text="#{'msg.class.cashflowFrequency.' + ${opt}}"
												th:selected="${opt}==*{frequency}"></option>
										</select>
									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button id="cashflowEditSaveBtn" class="btn btn-primary"
									type="submit">Save</button>
								<a class="btn btn-link" role="button" data-bs-dismiss="modal">Cancel</a>
								<input id="cashflowEditDeleteBtn" class="btn btn-danger"
									type="submit" th:value="Delete" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!---------------------------------->
		<!-- Modal cashflowEditDialog END -->
		<!---------------------------------->

		<!------------------------------------>
		<!-- Modal cfdrvEditDialog START	-->
		<!------------------------------------>

		<div id="cfdrvEditDialog" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-sm"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5
							th:text="#{msg.html.dashboard.cashflowDateRangeValueEdit.modal.header}"
							id="cfdrvCashflowCategory">XXX</h5>
					</div>
					<form id="formCfdrvEditDialog"
						th:object="${cashflowDateRangeValueDto}" class="was-validated">
						<div class="modal-body">
							<div class="container">

								<input type="hidden" name="id" id="id" value="" /> <input
									type="hidden" name="cashflowId" id="cashflowId" value="" />

								<div id="cfdrvEditDialogError" class="alert alert-danger"></div>

								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowDateRangeValueEdit.yearMonthStart.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="yearMonthStart" type="text" class="form-control"
											th:field="*{yearMonthStart}" size="7" required
											th:placeholder="#{msg.html.global.yearMonth.placeholder}"
											oninput="this.setCustomValidity('')" maxLength="7"
											th:title="#{msg.validation.monthYear}">
										<p th:if="${#fields.hasErrors('yearMonthStart')}"
											th:errorclass="error" th:errors="*{yearMonthStart}"></p>
									</div>
								</div>
								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowDateRangeValueEdit.yearMonthEnd.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="yearMonthEnd" type="text" class="form-control"
											th:field="*{yearMonthEnd}" size="7"
											pattern="^[0-9]{1,2}.[0-9]{4}"
											th:placeholder="#{msg.html.global.yearMonth.placeholder}"
											oninput="this.setCustomValidity('')" maxLength="7"
											th:title="#{msg.validation.monthYear}">
										<p th:if="${#fields.hasErrors('yearMonthEnd')}"
											th:errorclass="error" th:errors="*{yearMonthEnd}"></p>
									</div>
								</div>
								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.cashflowDateRangeValueEdit.value.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="value" type="text" class="form-control"
											th:field="*{value}" size="7" required
											pattern="^-?[0-9]*[1-9][0-9]*$"
											oninput="this.setCustomValidity('')"
											th:title="#{msg.validation.notEmpty}">
										<p th:if="${#fields.hasErrors('value')}" th:errorclass="error"
											th:errors="*{value}"></p>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button id="cfdrvSaveBtn" class="btn btn-primary" type="submit">Save</button>
								<a class="btn btn-link" role="button" data-bs-dismiss="modal">Cancel</a>
								<input id="cfdrvDeleteBtn" class="btn btn-danger" type="submit"
									th:value="Delete" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-------------------------------->
		<!-- Modal rpdvEditDialog END	-->
		<!-------------------------------->

		<table id="cashflowTable" th:unless="${cashflowTableDto.cashflowDtos.empty}"
			class="table table-primary table-borderless table-striped table-sm caption-top rounded-3 overflow-hidden">
			<caption th:text="#{msg.html.dashboard.cashflowTable.caption}">XXX</caption>
			<thead>
				<tr>
					<th th:text="#{msg.html.dashboard.cashflowTable.th.category}">XXX</th>
					<th th:text="#{msg.html.dashboard.cashflowTable.th.detail}">XXX</th>
					<th th:text="#{msg.html.dashboard.cashflowTable.th.cpi}">XXX</th>
					<th th:text="#{msg.html.dashboard.cashflowTable.th.frequency}">XXX</th>
					<th
						th:each="dateHeader, dateHeaderStat : ${cashflowTableDto.dates}"
						th:text="${dateHeader}">XXX</th>
					<th th:text="#{msg.html.dashboard.cashflowTable.th.WhatIf}">XXX</th>
				</tr>
			</thead>
			<tbody>
				<tr
					th:each="cashflowDto, cashflowDtoStat : ${cashflowTableDto.cashflowDtos}">
					<td th:text="${cashflowDto.categoryMessage}" data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.cashflowTable.td.WhatIf.editCashflow}"
						th:attrappend="onclick=|cashflowEdit('${cashflowDtoStat.index}');|"
						style="cursor: pointer;">XXX</td>
					<td th:text="${cashflowDto.detail}" data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.cashflowTable.td.WhatIf.editCashflow}"
						th:attrappend="onclick=|cashflowEdit('${cashflowDtoStat.index}');|"
						style="cursor: pointer;">XXX</td>
					<td>
						<div class="form-check d-flex justify-content-center" data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.cashflowTable.td.WhatIf.editCashflow}"
							th:attrappend="onclick=|cashflowEdit('${cashflowDtoStat.index}');|"
							style="cursor: pointer;">
							<input class="form-check-input" type="checkbox"
								th:checked="${cashflowDto.cpiAffected}" disabled>
						</div>
					</td>
					<td
						th:text="#{'msg.class.cashflowFrequency.' + ${cashflowDto.frequency}}" data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.cashflowTable.td.WhatIf.editCashflow}"
						th:attrappend="onclick=|cashflowEdit('${cashflowDtoStat.index}');|"
						style="cursor: pointer;">XXX</td>
					<td
						th:each="cfrdvDto, cfrdvDtoStat : ${cashflowDto.cashflowDateRangeValueDtos}">
						<div th:unless="0 == ${cfrdvDto.value}" th:id="${cfrdvDto.id}"
							th:text="${#numbers.formatInteger(cfrdvDto.value,1,'COMMA')}" data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.cashflowTable.td.WhatIf.editCfdrv}"
							th:attrappend="onclick=|cashflowDateRangeValueEdit('${cashflowDtoStat.index}', '${cfrdvDtoStat.index}');|"
							style="cursor: pointer;"></div>
						<div th:if="0 == ${cfrdvDto.value}" th:text="END">"XXX</div>
					</td>
					<td th:text="'?'" data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.cashflowTable.td.WhatIf.new.prefix} + ${cashflowDto.categoryMessage} + ' ' + #{msg.html.dashboard.cashflowTable.td.WhatIf.new.suffix}"
						th:onclick="|cashflowDateRangeValueEdit('${cashflowDtoStat.index}', null);|"
						style="cursor: pointer;"></td>
				</tr>
			</tbody>
		</table>

		<div class="mb-2" th:unless="${resourceDto.cashflowCategoriesUsersCanCreate.empty}">
			<select class="form-select" id="cashflowToCreate"
				name="cashflowToCreate"
				th:attr="onchange=|cashflowCreate(this);|">
				<option th:text="#{msg.html.dashboard.cashflowTable.select.WhatIf}"
					hidden="hidden">XXX</option>
				<option
					th:each="opt : ${resourceDto.cashflowCategoriesUsersCanCreate}"
					th:value="${opt}"
					th:text="#{'msg.class.cashflowCategory.' + ${opt}}"></option>
			</select>
		</div>

		<script type="text/javascript" th:inline="javascript">
			$(document).ready(function() {

				// Once this fragment has loaded, populate the JS variables declared above.
				resourceDto = /*[[${resourceDto}]]*/'novalue';
				cashflowDtos = /*[[${cashflowTableDto.cashflowDtos}]]*/'novalue';

				// Tooltips must be initialised to work.
				$('body').tooltip({
					selector : '[data-bs-toggle=tooltip]'
				});
			});

			document.querySelector('#formCfdrvEditDialog').addEventListener('submit', function(e) {
				e.preventDefault();
			});

			$("#formCfdrvEditDialog").submit(function(event) {
				var submittingBtnId = $(event.originalEvent.submitter).attr('id');
				var resourceId = /*[[${resourceDto.id}]]*/'novalue';

				postCashflowDateRangeValue(submittingBtnId).done(function(response) {
					if (response != "SUCCESS") {
						$("div.cfdrvEditDialogError").show();
						document.getElementById('cfdrvEditDialogError').style.display = "block";
						document.getElementById('cfdrvEditDialogError').innerText = response;
						$('form[id="formCfdrvEditDialog"] :input:enabled:visible:not([readonly]):first').select();
					} else {
						$('#cfdrvEditDialog').modal('hide');
						loadDisplayData();
						showCashflows(resourceId);
					}
				});
			});

			document.querySelector('#formCashflowEditDialog').addEventListener('submit', function(e) {
				e.preventDefault();
			});

			$("#formCashflowEditDialog").submit(function(event) {
				var submittingBtnId = $(event.originalEvent.submitter).attr('id');
				var resourceId = /*[[${resourceDto.id}]]*/'novalue';

				postCashflowEdit(submittingBtnId).done(function(response) {
					if (response != "SUCCESS") {
						$("div.cashflowEditDialogError").show();
						document.getElementById('cashflowEditDialogError').style.display = "block";
						document.getElementById('cashflowEditDialogError').innerText = response;
						$('form[id="formCashflowEditDialog"] :input:enabled:visible:not([readonly]):first').select();
					} else {
						$('#cashflowEditDialog').modal('hide');
						loadDisplayData();
						showCashflows(resourceId);
					}
				});
			});

			document.querySelector('#formCashflowCreateDialog').addEventListener('submit', function(e) {
				e.preventDefault();
			});

			$("#formCashflowCreateDialog").submit(function(event) {
				var resourceId = /*[[${resourceDto.id}]]*/'novalue';

				postCashflowCreate().done(function(response) {
					if (response != "SUCCESS") {
						$("div.cashflowCreateDialogError").show();
						document.getElementById('cashflowCreateDialogError').style.display = "block";
						document.getElementById('cashflowCreateDialogError').innerText = response;
						$('form[id="formCashflowCreateDialog"] :input:enabled:visible:not([readonly]):first').select();
					} else {
						$('#cashflowCreateDialog').modal('hide');
						loadDisplayData();
						showCashflows(resourceId);
					}
				});
			});
		</script>

	</div>
</body>
</html>