<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="chart" class=""
		th:fragment="chart">

		<script type="text/javascript" th:inline="javascript">
			function loadDisplayData() {
				var displayFilter = /*[[${displayFilter}]]*/'novalue';
				if (displayFilter.displayStyle == 'DISPLAY_STYLE_BALANCES_TABLE') {
					loadBalancesTableData();
				} else {
					loadChartData();
				}
			}

			/* --------------- */
			/* Display filter. */
			/* --------------- */

			function changeDisplayFilter(filterValue) {
				var url = baseUrl + 'displayFilter/update/' + filterValue;
				$.ajax({
					url : url,
					type : "GET",
					success : function(response) {
						$("#chart").html(response);
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}

			/* ----------------- */
			/* Table (Balances). */
			/* ----------------- */

			function loadBalancesTableData() {
				$.getJSON(baseUrl + 'dataDisplay/getTableData', {
					format : "json"
				}).done(function(data) {
					var oTable = $('#dashboardTable').DataTable({
						columns : data.columns,
						data : data.journalEntries
					});
				}).fail(function() {
					console.log("error");
				});
			}

			$(document).ready(function() {
				loadDisplayData();
			});

			/* ------------- */
			/* Google chart. */
			/* ------------- */

			google.charts.load('current', {
				packages : [ 'corechart', 'bar', 'table' ]
			});

			google.setOnLoadCallback(function() {
				loadChartData();
			})

			function loadChartData() {
				var url = baseUrl + 'dataDisplay/getChartData';
				$.ajax({
					url : url,
					type : "GET",
					dataType : "json",
					async : true,
					success : function(data) {
						if (data) {
							drawLineChart(data);
						}
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}

			function drawLineChart(chartData) {
				var dataTableData = new google.visualization.DataTable(chartData);
				var options = {
					hAxis : {
						textStyle : {
							fontSize : 10
						}
					},
					vAxis : {
						textStyle : {
							fontSize : 10
						}
					},
					// Use an HTML tooltip.
					tooltip : {
						isHtml : true
					},
					curveType : 'function',
					pointSize : 1,
					dataOpacity : 0.9,
					width : '100%',
					height : '300',
					chartArea : {
						width : '80%',
						height : '70%'
					},
					legend : {
						position : 'right',
						textStyle : {
							fontSize : 11
						}
					},
					title : "Liquid funds",
					titleFontSize : 24
				};
				var chart1_chart = new google.visualization.LineChart(document.getElementById('chart_div'));
				chart1_chart.draw(dataTableData, options);
			}

			/* We use a resize to trigger the redraw of the chart.	*/
			$(window).resize(function() {
				loadChartData();
			});
		</script>

		<div class="row">
			<div class="col">
				<ul class="nav nav-tabs">
					<li th:if="*{displayFilter.displayStyle == 'DISPLAY_STYLE_CHART'}"
						class="nav-item"><a class="nav-link active"
						aria-current="page">Chart</a></li>
					<li
						th:unless="*{displayFilter.displayStyle == 'DISPLAY_STYLE_CHART'}"
						class="nav-item"><a class="nav-link" aria-current="page"
						href="#" onclick="changeDisplayFilter('DISPLAY_STYLE_CHART')">Chart</a></li>
					<li
						th:if="*{displayFilter.displayStyle == 'DISPLAY_STYLE_BALANCES_TABLE'}"
						class="nav-item"><a class="nav-link active"
						aria-current="page">Table (Balances)</a></li>
					<li
						th:unless="*{displayFilter.displayStyle == 'DISPLAY_STYLE_BALANCES_TABLE'}"
						class="nav-item"><a class="nav-link" aria-current="page"
						href="#" onclick="changeDisplayFilter('DISPLAY_STYLE_BALANCES_TABLE')">Table (Balances)</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Timeline</a></li>
				</ul>
			</div>
		</div>

		<div th:if="*{displayFilter.displayStyle == 'DISPLAY_STYLE_CHART'}">
			<div class="row">
				<div class="col">
					<div id="chart_div" class="chart"></div>
				</div>
			</div>
		</div>

		<div th:if="*{displayFilter.displayStyle == 'DISPLAY_STYLE_BALANCES_TABLE'}"
			style="overflow-x: auto;">
			<div class="row bg-white">
				<div class="col m-2">
					<table id="dashboardTable"
						class="table table-responsive table-bordered">
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>