<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script type="text/javascript" th:inline="javascript"
	th:fragment="dashboardLayoutJS">
	var baseUrl = window.location.origin + window.location.pathname + '/';

	function showResourceElements(resourceId) {
		var url = baseUrl + 'showResourceElements/' + resourceId;
		$.ajax({
			url : url,
			type : "GET",
			success : function(response) {
				$("#resourceElements").html(response);
			},
			error : function(jqXHR) {
				alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
			}
		});
	}
	
	function handleAjaxError(jqXHR) {
		console.log('Error: ' + jqXHR.status);
		console.log('Message: ' + jqXHR.responseText);
		window.location.replace(baseUrl);
	}
		
	$(document).ready(function() {
		$('#deleteResourceDialog').on('show.bs.modal', function(e) {
			var url = $(e.relatedTarget).data('url');
			$(e.currentTarget).find('#deleteBtn').attr("href", url);
		})
	});
	
</script>

</head>
<body>

</body>
</html>