<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div id="dashboardResources" th:fragment="dashboardResources"
		class="container p-2 mt-3 bg-dark-subtle rounded-3">

		<div class="row">
			<div class="col">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link"
						aria-current="page" href="#">Scenario</a></li>
						
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"
						href="#" role="button" aria-expanded="false">Household</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Family</a></li>
							<li><a class="dropdown-item" href="#">Amanda</a></li>
							<li><a class="dropdown-item" href="#">Amanda - Super</a></li>
							<li><a class="dropdown-item" href="#">Dan</a></li>
							<li><a class="dropdown-item" href="#">Dan - Super</a></li>
							<li class="dropdown-header">Add new...</li>
							<li><a class="dropdown-item" href="#">Add Adult</a></li>							
							<li><a class="dropdown-item" href="#">Add Child</a></li>							
							<li><a class="dropdown-item" href="#">Add Superannuation</a></li>							
						</ul></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						href="#" role="button" aria-expanded="false">Property</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Addison Rd</a></li>
							<li><a class="dropdown-item" href="#">Addison Rd - Mortgage Variable</a></li>
							<li><a class="dropdown-item" href="#">Addison Rd - Mortgage Fixed</a></li>
							<li><a class="dropdown-item" href="#">Griffin St</a></li>
							<li><a class="dropdown-item" href="#">Griffin St - Mortgage Fixed</a></li>
						</ul></li>

					<li class="nav-item"><a class="nav-link" href="#">Savings</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Credit Cards</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Investments</a></li>
				</ul>
			</div>
		</div>

		<div class="row bg-white mx-1 rounded-3">
			<h2>Amanda</h2>
			<div class="col-auto">
				<table id="parametersTable"
					class="table table-primary caption-top p-2 my-2 rounded-3 overflow-hidden">
					<caption>Parameters</caption>
					<thead>
						<tr>
							<th>Setting</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Birth month &amp; year</td>
							<td>02 1972</td>
						</tr>
						<tr>
							<td>Life expectancy</td>
							<td>100</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-auto">
				<table id="parametersTable"
					class="table table-primary caption-top p-2 my-2 rounded-3 overflow-hidden">
					<caption>Income &amp; Expenses</caption>
					<thead>
						<tr>
							<th>Setting</th>
							<th>Description</th>
							<th>Frequency</th>
							<th>CPI?</th>
							<th>01 2024</th>
							<th>01 2026</th>
							<th>01 2043</th>
							<th>03 2039</th>
							<th><i>What if?</i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Living expense</td>
							<td>Everyday</td>
							<td>Monthly</td>
							<td>
								<div class="form-check d-flex justify-content-center">
									<input class="form-check-input" type="checkbox" checked
										disabled>
								</div>
							</td>
							<td class="text-danger">-$3,000</td>
							<td></td>
							<td></td>
							<td></td>
							<th><a href="#" data-bs-toggle="tooltip" data-bs-title="What if the Living Expense Everyday changes?">...</a>
							</th>
						</tr>
						<tr>
							<td>Living expense</td>
							<td>Splurge</td>
							<td>Monthly</td>
							<td>
								<div class="form-check d-flex justify-content-center">
									<input class="form-check-input" type="checkbox" checked
										disabled>
								</div>
							</td>
							<td class="text-danger">-$2,500</td>
							<td class="text-danger">-$4,000</td>
							<td></td>
							<td></td>
							<th>...</th>
						</tr>
						<tr>
							<td>General expense</td>
							<td>Flights</td>
							<td>Annually</td>
							<td>
								<div class="form-check d-flex justify-content-center">
									<input class="form-check-input" type="checkbox" checked
										disabled>
								</div>
							</td>
							<td class="text-danger">-$10,000</td>
							<td></td>
							<td>End</td>
							<td></td>
							<th>?</th>
						</tr>
						<tr>
							<td>General income</td>
							<td>UK pension</td>
							<td>Monthly</td>
							<td>
								<div class="form-check d-flex justify-content-center">
									<input class="form-check-input" type="checkbox" checked
										disabled>
								</div>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td class="text-success">$2,000</td>
							<th><a href="#" data-bs-toggle="tooltip" data-bs-title="What if the General Income UK pension changes?">?</a>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="my-2">
				<button type="button" class="btn btn-outline-primary">Super
					- Amanda...</button>
				<button type="button" class="btn btn-outline-primary">Life
					Insurance - Amanda...</button>
				<button class="btn btn-outline-primary dropdown-toggle"
					type="button" data-bs-toggle="dropdown" aria-expanded="false">Add
					new resource</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Income Protection</a></li>
					<li><a class="dropdown-item" href="#">Superannuation</a></li>
					<li><a class="dropdown-item" href="#">...</a></li>
				</ul>
			</div>

		</div>

	</div>
</body>
</html>