<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="dashboardScenario" th:fragment="dashboardScenario"
		class="container p-2 mt-3 bg-dark-subtle rounded-3">

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Change
							housing market growth rate</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div class="container">
							<form action="#">
								<div class="row">
									<div class="col">
										<label class="col-form-label">Date:</label>
									</div>
									<div class="col">
										<input type="text" class="form-control"
											pattern="^[0-9]{1,2}.[0-9]{4}" maxLength="7" value="05 2027">
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label class="col-form-label">Value:</label>
									</div>
									<div class="col">
										<input type="text" class="form-control"
											pattern="^[0-9]{1,2}.[0-9]{4}" maxLength="7" value="5.0">
									</div>
								</div>
							</form>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger">Delete</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h2>My first Scenario</h2>
			</div>

			<div class="col d-flex justify-content-end">
				<div class="btn-group" role="group" aria-label="Scenario group">

					<button type="button" class="btn btn-outline-primary"
						data-bs-toggle="collapse"
						data-bs-target=".scenarioSettings-collapse" aria-expanded="false"
						aria-controls="collapse-scenarioSettings collapse-scenarioWhatIf">Settings</button>

					<button type="button" class="btn btn-outline-primary"
						data-bs-toggle="collapse" data-bs-target=".scenarioGoals-collapse"
						aria-expanded="false"
						aria-controls="collapse-scenarioGoals collapse-scenarioNewGoal">Goals</button>
				</div>
			</div>
		</div>

		<div id="scenarioButtonGroup">
			<div class="row">
				<div class="col-auto collapse
				scenarioSettings-collapse"
					id="collapse-scenarioSettings"
					data-bs-parent="#scenarioButtonGroup">
					<table id="parametersTable"
						class="table p-2 my-2 rounded-3 overflow-hidden">
						<thead>
							<tr>
								<th>Setting</th>
								<th>01 2024</th>
								<th>05 2027</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>CPI</td>
								<td>2.0%</td>
								<td></td>
							</tr>
							<tr>
								<td>Housing market growth rate</td>
								<td>3.2%</td>
								<td><a href="#exampleModal" data-bs-toggle="modal">5.0%</a></td>
							</tr>
							<tr>
								<td>Stock market growth rate</td>
								<td>5.5%</td>
								<td>8.0%</td>
<!-- 								<td>8.0%&nbsp;<i class="bi-x" -->
<!-- 									style="font-size: 1rem; color: red;"></i> -->
<!-- 								</td> -->
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-auto collapse
				scenarioSettings-collapse"
					id="collapse-scenarioWhatIf" data-bs-parent="#scenarioButtonGroup">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle p-2 my-2"
							type="button" data-bs-toggle="dropdown" aria-expanded="false">
							What if?...</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">CPI changes</a></li>
							<li><a class="dropdown-item" href="#">Housing market
									growth rate changes</a></li>
							<li><a class="dropdown-item" href="#">Stock market
									growth rate changes</a></li>
							<li><a class="dropdown-item" href="#">Stock market
									crashes</a></li>
							<li><a class="dropdown-item" href="#">Interest rates
									change</a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-auto collapse scenarioGoals-collapse"
					id="collapse-scenarioGoals" data-bs-parent="#scenarioButtonGroup">
					<table id="parametersTable"
						class="table p-2 my-2 rounded-3 overflow-hidden">
						<thead>
							<tr>
								<th>Goal</th>
								<th>By</th>
								<th>Achieved?</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-success">
								<td>Never run out of money</td>
								<td></td>
								<td>Y</td>
							</tr>
							<tr class="table-danger">
								<td>Pay off credit card</td>
								<td>06 2024</td>
								<td>N</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-auto collapse
				scenarioGoals-collapse"
					id="collapse-scenarioNewGoal" data-bs-parent="#scenarioButtonGroup">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle p-2 my-2"
							type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Why not add a new goal?...</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Take early
									retirement</a></li>
							<li><a class="dropdown-item" href="#">Buy an investment
									property</a></li>
							<li><a class="dropdown-item" href="#">Have an annual
									holiday</a></li>
							<li><a class="dropdown-item" href="#">...</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
