<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="dataDisplay" class="" th:fragment="dataDisplay">

		<script type="text/javascript" th:inline="javascript">
			var displayFilter = /*[[${displayFilter}]]*/'novalue';

			/* ----------------------- */
			/* Public functions START. */
			/* ----------------------- */
			
			function loadDisplayData() {
				if (displayFilter.displayStyle == 'DISPLAY_STYLE_CHART') {
					document.getElementById('rowChart').style.display = "block";
					document.getElementById('rowTableBalances').style.display = "none";
					$($("ul[class='nav nav-tabs'] li a")[0]).addClass("active");
					$($("ul[class='nav nav-tabs'] li a")[1]).removeClass("active");
					loadChartData();
				} else if (displayFilter.displayStyle == 'DISPLAY_STYLE_BALANCES_TABLE') {
					document.getElementById('rowChart').style.display = "none";
					document.getElementById('rowTableBalances').style.display = "block";
					$($("ul[class='nav nav-tabs'] li a")[0]).removeClass("active");
					$($("ul[class='nav nav-tabs'] li a")[1]).addClass("active");
					loadBalancesTableData();
				} 
			}

			/* --------------------- */
			/* Public functions END. */
			/* --------------------- */
			
			/* ------------------- */
			/* Google chart START. */
			/* ------------------- */

			google.charts.load('current', {
				packages : [ 'corechart', 'bar', 'table' ]
			});

			/**
			 * @see <a href="https://stackoverflow.com/questions/61818505/error-must-call-google-charts-load-before-google-charts-setonloadcallback">https://stackoverflow.com/questions/61818505/error-must-call-google-charts-load-before-google-charts-setonloadcallback</a>
			 */
			/* 	
				google.setOnLoadCallback(function() {
			 		loadChartData();
			 	})
			 */
			 
			function loadChartData() {
				var url = baseUrl + 'dataDisplay/getChartData';
				$.ajax({
					url : url,
					type : "GET",
					data : "jsDisplayFilter=" + encodeURIComponent(JSON.stringify(displayFilter)),
					dataType : "json",
					success : function(data) {
						if (data) {
							drawLineChart(data);
						}
					},
					error : function(jqXHR) {
						handleAjaxError(jqXHR)
					}
				});
			}

			function drawLineChart(chartData) {
				var dataTableData = new google.visualization.DataTable(chartData);
				var options = {
					hAxis : {
						textStyle : {
							fontSize : 10
						}
					},
					vAxis : {
						textStyle : {
							fontSize : 10
						}
					},
					// Use an HTML tooltip.
					tooltip : {
						isHtml : true
					},
					curveType : 'function',
					pointSize : 1,
					dataOpacity : 0.9,
					width : '100%',
					height : '300',
					chartArea : {
						width : '80%',
						height : '70%'
					},
					legend : {
						position : 'right',
						textStyle : {
							fontSize : 11
						}
					},
					title : "Liquid funds",
					titleFontSize : 24
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
				chart.draw(dataTableData, options);
			}

			/* We use a resize to trigger the redraw of the chart.	*/
			$(window).resize(function() {
				if (displayFilter.displayStyle == 'DISPLAY_STYLE_CHART') {
					loadChartData();
				}
			});

			/* ----------------- */
			/* Google chart END. */
			/* ----------------- */

			/* ----------------------- */
			/* Table (Balances) START. */
			/* ----------------------- */

			var oTable = new DataTable('#dashboardTable');
			
			function loadBalancesTableData() {

				var url = baseUrl + 'dataDisplay/getBalancesTableData';
				$.ajax({
					url : url,
					type : "GET",
					data : "jsDisplayFilter=" + encodeURIComponent(JSON.stringify(displayFilter)),
					dataType : "json",
					success : function(data) {
						oTable.destroy();
						$('#dashboardTable').empty();
						oTable = $('#dashboardTable').DataTable({
							responsive : true,
							paging : false,
							searching : false,
							info : false,
							ordering : false,
							columns : data.columns,
							"columnDefs": [
						        {
						            "render": function (data, type, row) {
						                 return commaSeparateNumber(data);
						            },
						            "targets": ['_all']
						        },
						    ],
							data : data.journalEntries
						});
					},
					error : function(jqXHR) {
						handleAjaxError(jqXHR)
					}
				});
			}

			function commaSeparateNumber(val) {
			    while (/(\d+)(\d{3})/.test(val.toString())) {
			        val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
			    }

			    return val;
			}
			
			/* --------------------- */
			/* Table (Balances) END. */
			/* --------------------- */
			
			/* -------------------------------- */
			/* Document loaded functions START. */
			/* -------------------------------- */

			$(document).ready(function() {

				// Change of year end.
				$("select[name=yearEnd]").on( "change", function() {
					displayFilter.yearEnd = this.value;
					loadDisplayData();
				});
				
				// Change display style.
				$("ul[class='nav nav-tabs']").on("click", "li", (function(e) {
					var index = $(this).index();
					if (index == 0 && displayFilter.displayStyle != 'DISPLAY_STYLE_CHART') {
						displayFilter.displayStyle = 'DISPLAY_STYLE_CHART';
					} else if (index == 1 && displayFilter.displayStyle != 'DISPLAY_STYLE_BALANCES_TABLE') {
						displayFilter.displayStyle = 'DISPLAY_STYLE_BALANCES_TABLE';
					}
					loadDisplayData();
				}));
				
				// Load the display data when the page finishes loading.
				loadDisplayData();
			});

			/* ------------------------------ */
			/* Document loaded functions END. */
			/* ------------------------------ */

		</script>

		<!-- ------------------ -->
		<!-- Row for nav tabs.. -->
		<!-- ------------------ -->
		
		<div class="row">

			<!-- -------------------------------------------- -->
			<!-- Nav tabs used for choosing chart, table etc. -->
			<!-- -------------------------------------------- -->

			<div class="col">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link" href="#"
						aria-current="page">Chart</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						aria-current="page">Table (Balances)</a></li>
				</ul>
			</div>

			<!-- ---------------- -->
			<!-- End year filter. -->
			<!-- ---------------- -->

			<div class="col-auto">
				<label for="yearEnd" class="col-form-label">End year</label>
			</div>

			<div class="col-auto">
				<form>
					<select class="form-select selectpicker" name="yearEnd"
						th:field="*{displayFilter.yearEnd}">
						<option th:each="year : *{displayFilter.yearList}"
							th:value="${year}" th:text="${year}"></option>
					</select>
				</form>
			</div>
		</div>

		<!-- -------------- -->
		<!-- Row for chart. -->
		<!-- -------------- -->
		
		<div id="rowChart" class="row">
			<div class="col">
				<div id="chart_div" class="chart"></div>
			</div>
		</div>

		<!-- -------------- -->
		<!-- Row for table. -->
		<!-- -------------- -->
		
		<div id="rowTableBalances" class="row bg-white mx-1 py-1" style="overflow-x: auto;">
			<div class="col m-2">
				<table id="dashboardTable"
					class="table table-responsive table-bordered compact">
				</table>
			</div>
		</div>

	</div>
</body>
</html>