<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="resourceDisplay"
		th:fragment="resourceDisplay">

		<h6 style="display : inline" th:if="${resourceDto.parentName}" th:text="#{'msg.class.resourceType.value.' + ${resourceDto.resourceType}} + ' (' + ${resourceDto.parentName} + ') : '">XXX</h6>
		<h6 style="display : inline" th:unless="${resourceDto.parentName}" th:text="#{'msg.class.resourceType.value.' + ${resourceDto.resourceType}} + ' : '">XXX</h6>
		<h4 style="display : inline" th:text="${resourceDto.name}">XXX</h4>

	</div>
</body>


</html>