<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="resourceNavBar" class="row"
		th:fragment="resourceNavBar">

		<script type="text/javascript" th:inline="javascript">
			
			function addEventListenersToResourcesTab() {

				const resourcesTabs = Array.from(document.querySelectorAll('#resourcesTabs>ul>li>a'));

				resourcesTabs.forEach(function(currentTab) {
					if (currentTab.className.includes("dropdown")) {
						var ulElement = currentTab.nextElementSibling;
						var liElements = ulElement.querySelectorAll('li');
						liElements.forEach(function(li) {
							li.addEventListener("click", function() {
								setAllResourceTabsToInactive();
								li.parentElement.parentElement.getElementsByTagName("a")[0].classList.add("active");
							});
						})
					} else {
						currentTab.addEventListener("click", function() {
							setAllResourceTabsToInactive();
							this.classList.add("active");
						});
					}
				});
			}

			function setAllResourceTabsToInactive() {
				const resourcesTabs = Array.from(document.querySelectorAll('#resourcesTabs>ul>li>a'));

				resourcesTabs.forEach(function(currentTab) {
					currentTab.classList.remove("active");
				});
			}

			function setActiveResourceTab() {
				var activeTabLabel = /*[[#{${'msg.html.dashboard.' + resourceDropdownDto.activeResourceNavLabel}}]]*/'noValue';
				const resourcesTabs = Array.from(document.querySelectorAll('#resourcesTabs>ul>li>a'));
				resourcesTabs.forEach(function(currentTab) {
					if (currentTab.textContent === activeTabLabel) {
						currentTab.classList.add("active");
					}
				});
			}
			
			/* -------------------------------- */
			/* Document loaded functions START. */
			/* -------------------------------- */

			$(document).ready(function() {

				// Change of resource type to create.
				$("select[name=resourceTypeToCreate]").on( "change", function() {
//					window.location.href=baseUrl +'resource/showCreateForm/' + this.value;
					window.location.replace(baseUrl +'resource/showCreateForm/' + this.value);
				});
			});

			/* ------------------------------ */
			/* Document loaded functions END. */
			/* ------------------------------ */

		</script>

		<div class="col" id="resourcesTabs">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link" aria-current="page"
					href="#"
					th:text="#{${'msg.html.dashboard.' + resourceDropdownDto.scenarioTabLabel}}"
					th:attr="onclick=|showResourceElements('${resourceDropdownDto.scenarioResourceId}')|">XXX</a></li>

				<li
					th:each="resourceTab, resourceTabStat : ${resourceDropdownDto.resourceTabs}"
					class="nav-item dropdown"><a class="nav-link dropdown-toggle"
					data-bs-toggle="dropdown" href="#" role="button"
					aria-expanded="false"
					th:text="#{${'msg.html.dashboard.' + resourceTab.resourceTabLabel}}">XXX</a>

					<ul class="dropdown-menu">
						<li
							th:each="resourceTabItem, resourceTabItemStat : ${resourceTab.resourceTabItems}"><a
							class="dropdown-item" href="#"
							th:text="${resourceTabItem.resourceItemLabel}"
							th:attr="onclick=|showResourceElements('${resourceTabItem.resourceId}')|">XXX</a></li>
					</ul></li>
			</ul>
		</div>		
		<div class="col-auto">
			<select class="form-select selectpicker" name="resourceTypeToCreate">
		    	<option selected disabled th:text="#{msg.class.resourceType.label}">XXX</option>
				<option th:each="resourceType : *{resourceDropdownDto.listOfResourceTypesToCreate}"
					th:value="${resourceType}" th:text="#{'msg.class.resourceType.value.' + ${resourceType}}"></option>
			</select>
		</div>
		
		<script th:inline="javascript">
			addEventListenersToResourcesTab();
			setActiveResourceTab();
		</script>

	</div>
</body>
</html>