<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
	<div id="resourceParams" th:fragment="resourceParams"
		th:unless="${resourceParamTableDto.resourceParamDtos.empty}">

		<script type="text/javascript" th:inline="javascript">
			const modalRpdvHeader = /*[[#{msg.html.dashboard.resourceParamDateValueEdit.modal.header}]]*/'novalue';
			const modalResourceParamCreateHeader = /*[[#{msg.html.global.label.create}]]*/'novalue';
			var resourceDto;

			function showResourceParams(resourceId) {
				var url = baseUrl + 'resourceParam/showResourceParams/' + resourceId;
				$.ajax({
					url : url,
					type : "GET",
					success : function(response) {
						$("#resourceParams").html(response);
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}

			function resourceParamCreate(select) {
				const nameAndType = select.value.split("|");
				var paramName = nameAndType[0];
				var resourceParamType = nameAndType[1];
				var paramNameMessage = select.selectedOptions[0].text;

				document.getElementById('resourceParamCreateDialogError').style.display = "none";
				document.getElementById('resourceParamCreateDialogHeader').innerText = modalResourceParamCreateHeader + ' ' + paramNameMessage;
				document.getElementById('value').setAttribute("pattern", getRegExFromResourceParamType(resourceParamType));

				$("#resourceParamCreateDialog #resourceId").val(resourceDto.id);
				$("#resourceParamCreateDialog #resourceParamType").val(resourceParamType);
				$("#resourceParamCreateDialog #name").val(paramName);

				$('#resourceParamCreateDialog').modal('show');
				setTimeout(function() {
					$('form[id="resourceParamCreateDialog"] :input:enabled:visible:not([readonly]):first').select();
				}, 500);
			}

			function resourceParamDateValueEdit(paramName, id, yearMonth, value, userAbleToChangeDate, resourceParamId, resourceParamType) {
				if (id === null || id === 'null') {
					id = "";
				}
				document.getElementById('rpdvEditDialogError').style.display = "none";
				document.getElementById('paramName').innerText = modalRpdvHeader + ' ' + paramName + '?';
				document.getElementById('rpdvEditDialogValue').setAttribute("pattern", getRegExFromResourceParamType(resourceParamType));
				if (userAbleToChangeDate !== 'true') {
					document.getElementById('rpdvEditDialogUserAbleToChangeDate').removeAttribute("checked");
					document.getElementById('rpdvEditDialogYearMonth').readOnly = true;
					document.getElementById('deleteBtn').style.visibility = "hidden";
				} else {
					document.getElementById('rpdvEditDialogUserAbleToChangeDate').setAttribute("checked", "checked");
					document.getElementById('rpdvEditDialogYearMonth').readOnly = false;
					document.getElementById('deleteBtn').style.visibility = "visible";
				}
				$("#rpdvEditDialogId").val(id);
				$("#rpdvEditDialogYearMonth").val(yearMonth);
				$("#rpdvEditDialogValue").val(value);
				$("#rpdvEditDialogResourceParamId").val(resourceParamId);
				$("#rpdvEditDialogResourceParamType").val(resourceParamType);
				$('#rpdvEditDialog').modal('show');
				setTimeout(function() {
					$('form[id="formRpdvEditDialog"] :input:enabled:visible:not([readonly]):first').select();
				}, 500);
			}

			function getRegExFromResourceParamType(resourceParamType) {
				switch (resourceParamType) {
				case "BIG_DECIMAL":
					return /^\s*-?(\d+(\.\d{1,2})?|\.\d{1,2})\s*$/.source;
					break;
				case "INTEGER_NEGATIVE":
					return /^-?\d+$/.source;
					break;
				case "INTEGER_POSITIVE":
					return /^\d+$/.source;
					break;
				case "YEAR_MONTH":
					return /^[0-9]{1,2}.[0-9]{4}/.source;
					break;
				default:
					alert("Unknown resource param type " + resourceParamType);
				}
			}

			function postResourceParamDateValue(submittingBtnId) {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var data = $("#formRpdvEditDialog").serialize();
				var controllerMethod = "";
				if (submittingBtnId == "saveBtn") {
					controllerMethod = "saveResourceParamDateValue";
				} else if (submittingBtnId == "deleteBtn") {
					controllerMethod = "deleteResourceParamDateValue";
				} else {
					alert("Unknown submitting button : " + submittingBtnId);
					return "ERROR";
				}
				return $.ajax({
					type : 'post',
					url : baseUrl + 'resourceParam/' + controllerMethod,
					data : data,
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(response) {
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}
			
			function postResourceParamCreate() {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var data = $("#formResourceParamCreateDialog").serialize();
				var controllerMethod = "saveResourceParamCreate";

				return $.ajax({
					type : 'post',
					url : baseUrl + 'resourceParam/' + controllerMethod,
					data : data,
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(response) {
					},
					error : function(jqXHR) {
						alert('Error: ' + jqXHR.status + 'Message: ' + jqXHR.responseText);
					}
				});
			}
		</script>

		<!-------------------------------------------->
		<!-- Modal resourceParamCreateDialog START	-->
		<!-------------------------------------------->

		<div id="resourceParamCreateDialog" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-sm"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="resourceParamCreateDialogHeader">XXX</h5>
					</div>
					<form id="formResourceParamCreateDialog"
						th:object="${resourceParamCreateDto}" method="post"
						class="was-validated">
						<div class="modal-body">
							<div class="container">

								<input type="hidden" name="resourceId" id="resourceId" value="" />
								<input type="hidden" name="resourceParamType" id="resourceParamType" value="" />
								<input type="hidden" name="name" id="name" value="" />

								<div id="resourceParamCreateDialogError" class="alert alert-danger"></div>

								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.resourceParamDateValueEdit.yearMonth.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="yearMonth" type="text" class="form-control"
											th:field="*{yearMonth}" size="7" required
											th:placeholder="#{msg.html.global.yearMonth.placeholder}"
											oninput="this.setCustomValidity('')" maxLength="7"
											th:title="#{msg.validation.monthYear}">
										<p th:if="${#fields.hasErrors('yearMonth')}"
											th:errorclass="error" th:errors="*{yearMonth}"></p>
									</div>
								</div>
								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.resourceParamDateValueEdit.value.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="value" type="text" class="form-control"
											th:field="*{value}" size="7" required
											oninput="this.setCustomValidity('')"
											th:title="#{msg.validation.notEmpty}">
										<p th:if="${#fields.hasErrors('value')}" th:errorclass="error"
											th:errors="*{value}"></p>
									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button id="saveBtn" class="btn btn-primary" type="submit">Save</button>
								<a class="btn btn-link" role="button" data-bs-dismiss="modal">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-------------------------------------------->
		<!-- Modal resourceParamCreateDialog END	-->
		<!-------------------------------------------->

		<!-------------------------------->
		<!-- Modal rpdvEditDialog START	-->
		<!-------------------------------->

		<div id="rpdvEditDialog" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-sm"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5
							th:text="#{msg.html.dashboard.resourceParamDateValueEdit.modal.header}"
							id="paramName">XXX</h5>
					</div>
					<form id="formRpdvEditDialog"
						th:object="${resourceParamDateValueDto}" method="post"
						class="was-validated">
						<div class="modal-body">
							<div class="container">

								<input type="hidden" th:field="*{id}" id="rpdvEditDialogId" value="" /> <input
									type="checkbox" th:field="*{userAbleToChangeDate}"
									id="rpdvEditDialogUserAbleToChangeDate" style="display: none" /> <input
									type="hidden" th:field="*{resourceParamId}" id="rpdvEditDialogResourceParamId"
									value="" /> <input type="hidden" th:field="*{resourceParamType}"
									id="rpdvEditDialogResourceParamType" value="" />

								<div id="rpdvEditDialogError" class="alert alert-danger"></div>

								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.resourceParamDateValueEdit.yearMonth.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="rpdvEditDialogYearMonth" type="text" class="form-control"
											th:field="*{yearMonth}" size="7" required
											th:placeholder="#{msg.html.global.yearMonth.placeholder}"
											oninput="this.setCustomValidity('')" maxLength="7"
											th:title="#{msg.validation.monthYear}">
										<p th:if="${#fields.hasErrors('yearMonth')}"
											th:errorclass="error" th:errors="*{yearMonth}"></p>
									</div>
								</div>
								<div class="mb-1 row">
									<div class="col-sm-6">
										<label class="col-form-label"
											th:text="#{msg.html.dashboard.resourceParamDateValueEdit.value.label}"></label>
									</div>
									<div class="col-sm-6">
										<input id="rpdvEditDialogValue" type="text" class="form-control"
											th:field="*{value}" size="7" required
											oninput="this.setCustomValidity('')"
											th:title="#{msg.validation.notEmpty}">
										<p th:if="${#fields.hasErrors('value')}" th:errorclass="error"
											th:errors="*{value}"></p>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button id="saveBtn" class="btn btn-primary" type="submit">Save</button>
								<a class="btn btn-link" role="button" data-bs-dismiss="modal">Cancel</a>
								<input id="deleteBtn" class="btn btn-danger" type="submit"
									th:value="Delete" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-------------------------------->
		<!-- Modal rpdvEditDialog END	-->
		<!-------------------------------->

		<table id="parametersTable"
			class="table table-primary table-borderless table-striped table-sm caption-top rounded-3 overflow-hidden">
			<caption
				th:text="#{msg.html.dashboard.resourceParamTable.Parameters}">XXX</caption>
			<thead>
				<tr>
					<th th:text="#{msg.html.dashboard.resourceParamTable.Setting}">XXX</th>
					<th
						th:each="dateHeader, dateHeaderStat : ${resourceParamTableDto.dates}"
						th:text="${dateHeader}">XXX</th>
					<th th:text="#{msg.html.dashboard.resourceParamTable.WhatIf}">XXX</th>
				</tr>
			</thead>
			<tbody>
				<tr
					th:each="resourceParamDto, resourceParamDtoStat : ${resourceParamTableDto.resourceParamDtos}">
					<td th:text="#{${resourceParamDto.name}}">XXX</td>
					<td
						th:each="rpdvDto, rpdvDtoStat : ${resourceParamDto.resourceParamDateValueDtos}"
						th:id="${rpdvDto.id}" th:text="${rpdvDto.value}"
						data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.resourceParamTable.td.WhatIf.editRpdv}"
						th:attrappend="onclick=|resourceParamDateValueEdit('#{${resourceParamDto.name}}','${rpdvDto.id}', '${rpdvDto.yearMonth}', '${rpdvDto.value}', '${rpdvDto.userAbleToChangeDate}', '${resourceParamDto.id}', '${resourceParamDto.resourceParamType}');|"
						style="cursor: pointer;"></td>
					<td th:unless="${resourceParamDto.userAbleToCreateNewDateValue}"></td>
					<td th:if="${resourceParamDto.userAbleToCreateNewDateValue}"
						th:text="..." data-bs-toggle="tooltip"
						th:attr="data-bs-title=#{msg.html.dashboard.resourceParamTable.td.WhatIf.new.prefix} + #{${resourceParamDto.name}} + ' ' + #{msg.html.dashboard.resourceParamTable.td.WhatIf.new.suffix}"
						th:attrappend="onclick=|resourceParamDateValueEdit('#{${resourceParamDto.name}}', null, null, null, 'true', '${resourceParamDto.id}', '${resourceParamDto.resourceParamType}');|"
						style="cursor: pointer;"></td>
				</tr>
			</tbody>
		</table>

		<div class="mb-2"
			th:unless="${resourceDto.resourceParamNamesUsersCanCreate.empty}">
			<select class="form-select" id="paramNameToCreate"
				name="paramNameToCreate"
				th:attr="onchange=|resourceParamCreate(this);|">
				<option th:text="#{msg.html.dashboard.cashflowTable.select.WhatIf}"
					hidden="hidden">XXX</option>
				<option
					th:each="opt : ${resourceDto.resourceParamNamesUsersCanCreate}"
					th:value="${opt}"
					th:text="#{'msg.html.resourceParams.name.' + ${#strings.substringBefore(opt,'|')}}"></option>
			</select>
		</div>

		<script type="text/javascript" th:inline="javascript">
			$(document).ready(function() {
				// Once this fragment has loaded, populate the JS variables declared above.
				resourceDto = /*[[${resourceDto}]]*/'novalue';
			});

			document.querySelector('#formRpdvEditDialog').addEventListener('submit', function(e) {
				e.preventDefault();
			});

			$("#formRpdvEditDialog").submit(function(event) {
				var submittingBtnId = $(event.originalEvent.submitter).attr('id');
				var resourceId = /*[[${resourceDto.id}]]*/'novalue';

				postResourceParamDateValue(submittingBtnId).done(function(response) {
					if (response != "SUCCESS") {
						$("div.rpdvEditDialogError").show();
						document.getElementById('rpdvEditDialogError').style.display = "block";
						document.getElementById('rpdvEditDialogError').innerText = response;
						$('form[id="formRpdvEditDialog"] :input:enabled:visible:not([readonly]):first').select();
					} else {
						$('#rpdvEditDialog').modal('hide');
						loadDisplayData();
						showResourceParams(resourceId);
					}
				});
			});
			
			document.querySelector('#formResourceParamCreateDialog').addEventListener('submit', function(e) {
				e.preventDefault();
			});

			$("#formResourceParamCreateDialog").submit(function(event) {
				var resourceId = /*[[${resourceDto.id}]]*/'novalue';

				postResourceParamCreate().done(function(response) {
					if (response != "SUCCESS") {
						$("div.resourceParamCreateDialogError").show();
						document.getElementById('resourceParamCreateDialogError').style.display = "block";
						document.getElementById('resourceParamCreateDialogError').innerText = response;
						$('form[id="formResourceParamCreateDialog"] :input:enabled:visible:not([readonly]):first').select();
					} else {
						$('#resourceParamCreateDialog').modal('hide');
						loadDisplayData();
						showResourceParams(resourceId);
					}
				});
			});
		</script>

	</div>
</body>
</html>