@charset "ISO-8859-1";

.tooltip-inner {
	text-align: left;
}

.error {
    color: red;
}

#parametersTable td, th
{
    text-align: center; 
    vertical-align: middle;
}
#parametersTable td:nth-child(1), th:nth-child(1) {
  text-align: left;
}

#cashflowTable td, th
{
    text-align: center; 
    vertical-align: middle;
}
#cashflowTable td:nth-child(1), th:nth-child(1) {
  text-align: left;
}

#dashboardTable th, td {
  font-size: 0.8em;
  text-align: right;
}

